.upcoming-shows-main{
    font-family: var(--FONT-ONE);
}

.upcoming-shows-title{
    color: var(--COLOR-SIX);
}

.upcoming-date-shows{
    color: var(--COLOR-EIGHT);
}

.upcoming-shows-container{
    border-bottom: var(--BORDER-THREE);
}

.upcoming-date-time{
    color: var(--COLOR-SIX);
}

.upcoming-venue{
    color: var(--COLOR-SIX);
    position: relative;
}

.upcoming-venue::before{
    position: absolute;
    content: '';
    width: 0;
    bottom: 0;
    left: 50%;
    transition: all .25s linear;
    border-bottom: var(--BORDER-FOUR);
}

.upcoming-venue::after{
    position: absolute;
    content: '';
    width: 0;
    bottom: 0;
    right: 50%;
    transition: all .25s linear;
    border-bottom: var(--BORDER-FOUR);
}

.upcoming-venue:hover::before,
.upcoming-venue:hover::after{
    width: 50%;
}

.upcoming-location{
    color: var(--COLOR-EIGHT);
    position: relative;
}


.upcoming-location::before{
    position: absolute;
    content: '';
    width: 0;
    bottom: 0;
    left: 50%;
    transition: all .25s linear;
    border-bottom: var(--BORDER-FIVE);
}

.upcoming-location::after{
    position: absolute;
    content: '';
    width: 0;
    bottom: 0;
    right: 50%;
    transition: all .25s linear;
    border-bottom: var(--BORDER-FIVE);
}

.upcoming-location:hover::before,
.upcoming-location:hover::after{
    width: 50%;
}
