*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  /* css variables */

  /* colors */
  --COLOR-ONE: hsl(0, 67%, 53%);
  --COLOR-TWO: hsl(0, 0%, 100%);
  --COLOR-THREE: hsla(0, 0%, 100%, 0.268);
  --COLOR-FOUR: hsla(0, calc(0 * 1%), calc(20 * 1%), .5);
  --COLOR-FIVE: #1A1D20;
  --COLOR-SIX: #B68C3E;
  --COLOR-SEVEN: #EBEBEB;
  --COLOR-EIGHT: #ADADAD;
  --COLOR-NINE: #ebebeb2f;
  /* fonts  */
  --FONT-ONE: "Arimo", sans-serif;

  /* borders  */
  --BORDER-ONE: solid 2px var(--COLOR-FIVE);
  --BORDER-TWO: solid 2px transparent;
  --BORDER-THREE: solid 2px var(--COLOR-EIGHT);
  --BORDER-FOUR: solid 1px var(--COLOR-SIX);
  --BORDER-FIVE: solid 1px var(--COLOR-EIGHT);
  --BORDER-SIX: solid 1px var(--COLOR-FIVE);
  --BORDER-SEVEN: solid 1.5px var(--COLOR-SIX);
}

html{
  background-color: var(--COLOR-FIVE);
  font-family: var(--FONT-ONE);
}